

 main{
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: center;
 }



 iframe{
    align-items: center;
    justify-content: center;
   margin-top: 40px;
 }




 @keyframes colore {
     0% {
         background-color: #3f6b4f;
     }

     ;

     100% {
         background-color: #647057;
     }

     ;
 }



 a {
     all: unset;
 }

 .desktop-only,
 .mobile-only {
     display: none;
 }

 /* Media query per dispositivi con schermi più larghi di 768px (desktop/tablet) */
 @media (min-width: 768px) {
     .desktop-only {
         display: inline-block;
     }


 }

 /* Media query per dispositivi con schermi più piccoli di 768px (mobile) */
 @media (max-width: 767px) {
     .mobile-only {
         display: block;
         /* Gli elementi mobile-only diventano visibili */
     }

     #title {
         position: relative;
         text-align: center;
     }

     .day {
         margin-right: 5%;
         margin-left: 5%;
         height: 410px;
         flex-direction: column;
     }

     .day2 {
         flex-direction: column-reverse;
     }

     .box {
         width: 100%;
         height: 50%;
         text-align: center;
         padding-right: 0px;

     }

     .day_title {
         font-size: 35px;


     }


     .day img {
         object-fit: cover;
         height: 100%;
         width: 100%;

     }

     .box-left-txt {
         text-align: center;
     }

     .box-left-im {

         height: 50%;
     }

     .box-right-im {

         height: 50%;

     }


     iframe{
        object-fit: cover;
        width: 100%;
     }
    

 }