 * {
     box-sizing: border-box;
 }

 body {
     background-color: #f1e4c3;
        font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin: 0px;
     margin-bottom: 30px;
     padding: 0px;
     padding-top: 0px;
 }

 #title {
     position: sticky;
     top: 0;
     background-color: #d3621d;
     background-image: url(immagini/icona.png);
     background-repeat: no-repeat;
     background-position: 0% 10%;
     text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
     color: azure;
     margin: 0px;


     box-shadow: 0px 13px 50px 23px rgba(0, 0, 0, 0.158);


     display: flex;
     flex-direction: column;
    height:100px;
     justify-content: flex-start;
     align-items: center;
     font-size: 20px;



 }


 #navigation-bar {
     background-color: #3f6b4f;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: flex-end;
     font-size: 20px;
     width: 100%;
    margin-bottom: 10%;
 }

 form{
    all:unset;
 }

 input{all:unset;}
 .nav-but {
     border-left: #274231 1px solid;
     width: 100%;
     text-align: center;
     border-bottom: #2e4e3a 1px solid;
 }

 .nav-but:hover {
     background-color: #647057;
     animation: colore 0.5s ease;
     cursor: pointer;
 }

 #first-nav-but {
     border-left: none;
 }






 .day {
     background-color: #3f6b4f;
     color: azure;
     display: flex;
     flex-direction: row;
     padding-bottom: 0px;
     padding-top: 0px;
     height: 200px;
     margin-top: 15px;
     margin-right: 15%;
     margin-left: 15%;
     box-shadow: 15px 11px 12px -4px rgba(0, 0, 0, 0.295);


     border-radius: 10px;

     overflow: hidden;
     /*box-shadow: 15px 11px 12px -4px rgba(0, 0, 0, 0.123);*/
 }

 #first-day{
     margin-top: 50px;
 }

 .day img {
     object-fit: cover;
     height: 100%;
     width: 50%;

 }

 .box {
     width: 60%;
     text-align: right;
     padding-right: 10px;
 }

 .box-left-txt {
     text-align: left;
 }

 .box-left-im {

     width: 40%;
 }

 .box-right-im {

     width: 40%;
     padding-right: 0px;
 }


 .day .odd_im {
     float: right;
     margin-left: 0px;
     height: 100%;
     width: 100%;

 }

 .day .even_im {

     float: left;
     margin-left: 0px;
     height: 100%;
     width: 100%;
 }


 .day_title {
     font-size: 50px;


 }

 p {
     padding-left: 4%;
 }



 .day:hover {
     background-color: #647057;
     animation: colore 0.5s ease;
     cursor: pointer;



 }





 @keyframes colore {
     0% {
         background-color: #3f6b4f;
     }

     ;

     100% {
         background-color: #647057;
     }

     ;
 }



 a {
     all: unset;
 }

 .desktop-only,
 .mobile-only {
     display: none;
 }

 /* Media query per dispositivi con schermi più larghi di 768px (desktop/tablet) */
 @media (min-width: 768px) {
     .desktop-only {
         display: inline-block;
     }


 }

 /* Media query per dispositivi con schermi più piccoli di 768px (mobile) */
 @media (max-width: 767px) {
     .mobile-only {
         display: block;
         /* Gli elementi mobile-only diventano visibili */
     }

     #title {
         position: relative;
         text-align: center;
     }

     .day {
         margin-right: 5%;
         margin-left: 5%;
         height: 410px;
         flex-direction: column;
     }

     .day2 {
         flex-direction: column-reverse;
     }

     .box {
         width: 100%;
         height: 50%;
         text-align: center;
         padding-right: 0px;

     }

     .day_title {
         font-size: 35px;


     }


     .day img {
         object-fit: cover;
         height: 100%;
         width: 100%;

     }

     .box-left-txt {
         text-align: center;
     }

     .box-left-im {

         height: 50%;
     }

     .box-right-im {

         height: 50%;

     }




 }