 * {
  box-sizing: border-box;
}

body{
    background-color: #f1e4c3;
    font-family:'Montserrat','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
    padding-top: 0px;
}

#title{
    position: sticky;
    top: 0;
    background-color: #d3621c;
    background-image: url(immagini/icona.png);
    background-repeat: no-repeat;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
    color: azure;
    margin: 0px;
    width: 100%;
   
    box-sizing: border-box;
    box-shadow: 0px 13px 50px 23px rgba(0, 0, 0, 0.158);
    align-items: center;


}

h1 {
    margin-top: 0;
    padding: 20px;
    font-size: 4em;
}



.day{
    background-color:#3f6b4f;
    color: azure;
    display: flex;
    flex-direction: row;
    padding-bottom: 0px; 
    padding-top: 0px; 
    height: 200px;
    margin-top: 15px;
    margin-right: 15%;
    margin-left: 15%;
    box-shadow: 15px 11px 12px -4px rgba(0, 0, 0, 0.295);
    

    border-radius: 10px;

    overflow: hidden;
    /*box-shadow: 15px 11px 12px -4px rgba(0, 0, 0, 0.123);*/
}


.day img{
    object-fit: cover;
    height: 100%;
    width: 50%;
    
}

.box{
    width:60%;
    text-align: right;
    padding-right: 10px;
}

.box-left-txt{
    text-align: left;
}

.box-left-im{

    width: 40%;
}

.box-right-im{

    width: 40%;
    padding-right: 0px;
}


.day .odd_im{
    float: right;
    margin-left: 0px;
    height: 100%;
    width:100%;
    
}

.day .even_im{

    float: left;
    margin-left: 0px;
    height: 100%;
    width:100%;
}


.day_title{
    font-size: 50px;
    
    
}

p{
    padding-left: 4%;
}



.day:hover{ 
    background-color: #647057;
    animation: colore 0.5s ease;
    cursor: pointer;
   

  
}





@keyframes colore{
    0% {
        background-color:#3f6b4f;
    };
    100%{
        background-color: #647057;
    };
}



a{
    all:unset;
}

.desktop-only,
.mobile-only {
    display: none;
}

/* Media query per dispositivi con schermi più larghi di 768px (desktop/tablet) */
@media (min-width: 768px) {
    .desktop-only {
        display: inline-block;
    }

   
}
/* Media query per dispositivi con schermi più piccoli di 768px (mobile) */
@media (max-width: 767px) {
    .mobile-only {
        display: block; /* Gli elementi mobile-only diventano visibili */
    }

    #title{
         position:relative;
        text-align: center;
    }
    .day{
            margin-right: 5%;
            margin-left: 5%; 
            height: 350px;
            flex-direction: column-reverse;
    }

    .box{
    width:100%;
        height: 50%;
    text-align:center;
    padding-right: 0px;
   
}

.day_title{
    font-size: 35px;
    
    
}


.day img{
    object-fit: cover;
    height: 100%;
    width:100%;
    
}

.box-left-txt{
    text-align: center;
}

.box-left-im{
  
    height: 50%;
}

.box-right-im{

    height:50%;

}




}
