
header {
   position: sticky;
    margin: 0px !important; padding:0px !important; width : 100% !important; 
}

.card{
    background-color: #3f6b4f ;
    color: azure;
    margin-bottom: 1rem;
    
}





