
header {
   position: sticky;
    margin: 0px !important; padding:0px !important; width : 100% !important; 
}

.card{
    background-color: #3f6b4f ;
    color: azure;
    margin-bottom: 1rem;
    box-shadow: 15px 11px 12px -4px rgba(0, 0, 0, 0.295);
    
}





